DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=super-secret-refresh-key
JWT_REFRESH_EXPIRATION=7d
FRONTEND_URL=
NODE_ENV=


# mailjet
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_FROM_EMAIL=
MAILJET_FROM_NAME=